USE [master]
GO
/****** Object:  Database [Concesionaria]    Script Date: 25/9/2023 11:45:56 ******/
CREATE DATABASE [Concesionaria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Concesionaria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Concesionaria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Concesionaria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Concesionaria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Concesionaria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Concesionaria]
GO
/****** Object:  Table [dbo].[Auto]    Script Date: 25/9/2023 11:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auto](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [nchar](25) NULL,
	[Modelo] [nchar](25) NULL,
	[Patente] [nchar](25) NULL,
	[Año] [int] NULL,
 CONSTRAINT [PK_Auto] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
